    <link href="styles/agency.css" rel="stylesheet">

    <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">Share Room</div>
        <div class="intro-lead-in">友だちと進捗を報告し、切磋琢磨しよう</div>
        <a href="#services" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>                
      </div>
    </div>
    </header>

    <!-- Services Section -->
    <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">このアプリは〜〜〜〜を目的としています。</h2> 
        </div>
      </div>
      <div class="row text-center">


      </div>
    </div>
    </section>

    <!-- Features Grid Section -->
    <section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">このアプリの使い方</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  サンプルです！
              </div>
            </div>
            <img src="images/img/portfolio/free.jpg" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>1. 友だちと一緒に進捗管理をしたい。</h4>
            <p class="text-muted"></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                そんときこそ！
              </div>
            </div>
            <img src="images/img/portfolio/fast.jpg" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>2~~~~~~</h4>
            <p class="text-muted">です。</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">みたいな感じ</div>
            </div>
            <img src="images/img/portfolio/security.jpg" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>3. ~~~~</h4>
            <p class="text-muted"></p>
          </div>
        </div>                    
      </div>
    </div>
    </section>

    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright © dd 2015</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/not_away"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/kota.nishinaka"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.github.com/g-----ta"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#">プライバシー・ポリシー</a>
            </li>
            <li><a href="#">利用規約</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </footer>

    <script src="../scripts/js/agency.js"></script>
    <script src="scripts/js/cbpAnimatedHeader.js"></script>


