<!-- <nav class="navbar navbar-default navbar-static-top"> -->
<nav class="navbar navbar-inverse navbar-static-top">
<!-- <nav class="navbar navbar-material-light-blue"> -->
<!-- <nav class="navbar navbar-warning"> -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">ポートフォリオ用</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/top">ホーム</a></li>
        <li><a href="#/">隊員紹介</a></li>
        <li><a href="#/">活動報告</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

