<div id="center-container">
	<div class="container">
		<div class="row">

		<div class="col-xs-12 col-sm-4 item">
			<a href="#cable">
			<!-- <a href="#cable"> -->
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">ケーブルテレビ</p>
		</div>
		
		<div class="col-xs-12 col-sm-4 item">
			<a href="#kinua">
				<img id="leaf" src="" alt="">
			</a>
			<p class="title">キヌア栽培</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#circle">
				<img id="kokeshi" src="" alt="">
			</a>
			<p class="title">将棋部</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#festival">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">夏祭り</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#cook">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">料理コンテスト</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#walking_tour">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title"><br></p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#riders_cafe">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">カフェ</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#volunteer">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">清掃ボランティア</p>
		</div>

		<div class="col-xs-12 col-sm-4 item">
			<a href="#souvenir">
				<img id="shogi" src="" alt="">
			</a>
			<p class="title">お土産品開発</p>
		</div>
			</div>
		</div>
	</div>
</div>

<script>
	insert_class_img();
</script>
